$red: #d62a38;
$errorText: #e0e0e0;

.form-field {
   position: relative;
}

.form-field input {
   display: block;
   border: none;
   border-radius: 5px;
   background: #15181e;
   outline: none;
   padding: 18px;
   margin-top: 12px;
   margin-bottom: 30px;
   color: #8c98af;
   width: 100%;

   &::placeholder {
      color: #414a5d;
      opacity: 1;
   }
   &::-ms-input-placeholder {
      color: #414a5d;
   }
   &:-ms-input-placeholder {
      color: #414a5d;
   }
}

.form-field label {
   color: #fff;
   text-transform: uppercase;
   font-size: 20px;
}

.form-field__error {
   position: absolute;
   width: 20px;
   height: 20px;
   background: $red;
   border-radius: 50%;
   right: 15px;
   top: 50%;
   transform: translateY(-50%);
}

.form-field__error:before,
.form-field__error:after {
   position: absolute;
   content: '';
   background: $errorText;
   left: 50%;
   transform: translate(-50%, -50%);
}

.form-field__error:before {
   width: 3px;
   height: 3px;

   border-radius: 50%;

   top: 73%;
}

.form-field__error:after {
   width: 2px;
   height: 8px;

   border-radius: 20px;

   top: 38%;
}

.form-field__error__text {
   position: absolute;
   padding: 5px;
   background: $red;
   font-size: 14px;
   color: $errorText;
   top: -200%;
   border-radius: 5px;
   transform: translateX(calc(-50% + 10px));
   white-space: nowrap;
}
