.post-info {
   background-color: #20242d;
   padding: 45px;
   border-radius: 5px;
   width: 31%;
   min-width: 370px;
}

.post-info__author__name {
   text-decoration: none;
   color: #fff;
   font-size: 20px;
}

.post-info__author__avatar {
   vertical-align: middle;
   margin-right: 15px;
}
