$default: #fff;
$blue: #0088ff;
$green: #12d882;
$red: #dd2b34;

.btn {
   display: inline-block;
   margin: 0;
   padding: 0.85em 1em;
   font-family: inherit;
   border: 1px solid transparent;
   border-radius: 10px;
   line-height: 1.2;
   text-align: center;
   white-space: nowrap;
   text-decoration: none;
   cursor: pointer;
   outline: none;
   transition: background 0.2s, color 0.2s;
}

.btn--wide {
   padding: 0.85em 2.6em;
}

//Colors
.btn--clear {
   background: none;
   color: inherit;
}
.btn--clear:hover {
   color: $blue;
}

.btn--green {
   background: $green;
   color: #fff;
}
.btn--green:hover {
   background: darken($green, 5%);
}

.btn--red {
   background: $red;
   color: #fff;
}
.btn--red:hover {
   background: darken($red, 5%);
}

.btn--blue {
   background: $blue;
   color: #fff;
}
.btn--blue:hover {
   background: darken($blue, 5%);
}
