.error-card {
   position: relative;
   padding: 10px 20px;
   background: #ffcbce;
   border: 1px solid #f00;
   color: #f00;
   border-radius: 5px;
}

.error-card__close {
   position: absolute;
   right: 5%;
   top: 50%;
   transform: translateY(-50%);
   cursor: pointer;
}
