@import '../../css/_colors';

.sign {
   display: flex;
   flex-flow: column;
   align-items: center;
}

.sign-form {
   width: 468px;
   padding: 36px;
   background-color: $grayblue;

   & .btn:not(:last-child) {
      margin-right: 5px;
   }

   & .error-card {
      margin-bottom: 20px;
   }
}
