.tags-box {
   width: 230px;
   padding: 25px;
   background-color: #20242d;
   border-radius: 5px;
}

.tags-box__heading {
   color: #fff;
   margin: 0;
   font-size: 16px;
   font-weight: 600;
   line-height: 1;
   margin-bottom: 20px;
}

.tags-list {
   list-style: none;
   margin: 0;
   padding: 0;
}

.tag {
   display: flex;
   margin-bottom: 18px;
   line-height: 1;
   cursor: pointer;
}

.tag:hover .tag__color {
   width: 20px;
}

.tag--active .tag__color,
.tag--active:hover .tag__color {
   width: 30px;
}

.tag:hover .tag__name,
.tag--active .tag__name {
   color: #fff;
}

.tag__color {
   display: inline-block;
   width: 11px;
   height: 11px;
   border-radius: 2px;
   margin-right: 14px;
   transition: width 0.2s ease;
}

.tag__name,
.tag__quantity {
   font-size: 14px;
   text-transform: lowercase;
   font-weight: 600;
}

.tag__name {
   color: #939db3;
   transition: color 0.2s ease;
}

.tag__quantity {
   color: #3d4658;
   margin-left: auto;
}
