.posts-box {
   display: flex;
   width: 100%;
   flex-wrap: wrap;
}

.posts-box .post-box {
   margin-bottom: 45px;
   margin-right: 40px;
}

.posts-box .post-box:nth-child(3n) {
   margin-right: 0px;
}
