.field-block__name {
   color: #fff;
   font-size: 20px;
   margin-bottom: 15px;
}

.field-block__field {
   color: #fff;
   padding: 15px 19px;
   background: #2e344d;
   border: none;
   border-radius: 10px;
   width: 100%;
   outline: none;
   box-shadow: none;
}
