.filter-block .field-block {
   margin-bottom: 35px;
}

.filter-block .btn--green {
   margin-right: 15px;
}

.filter-block .btn--clear:hover {
   color: #ff3c3c;
}

.filter-block .field-block {
   margin-bottom: 35px;
}
