.section-heading {
   width: 100%;
   font-size: 120px;
   font-weight: 600;
   text-align: center;
   line-height: 1;
   color: #20242d;
   margin-bottom: 40px;
}

.section-heading::first-letter {
   color: #155ae3;
}
