@import '../../css/_colors';

.section-heading {
   width: 100%;
   font-size: 120px;
   font-weight: 600;
   text-align: center;
   text-transform: capitalize;
   line-height: 1;
   color: $grayblue;
   margin-bottom: 40px;
}

.section-heading__word {
   display: inline-block;
}

.section-heading__word::first-letter {
   color: $accent;
}
